{% extends 'base.twig' %}

{% block main %}

<div class="grid">
    <article>
        <h2>Discover the {{ dino.name }}</h2>

        <div class="description">
            {{ dino.description|markdown }}
        </div>

        <div class="card">
            <img src="{{ dino.avatar }}" alt="{{ dino.slug }}" />
            <dl>
                <dt>Name</dt>
                <dd>{{ dino.name }}</dd>
                <dt>Name meaning</dt>
                <dd>{{ dino.name_meaning }}</dd>
                <dt>Diet</dt>
                <dd>{{ dino.diet }}</dd>
                <dt>Height</dt>
                <dd>{{ dino.height }}</dd>
                <dt>Length</dt>
                <dd>{{ dino.length }}</dd>
                <dt>Weight</dt>
                <dd>{{ dino.weight }}</dd>
            </dl>
        </div>
    </article>

    <aside>
        <h3>Top rated dinosaurs</h3>
        {% for top_rated_dino in top_rated_dinos %}
        <a href="/dinosaur/{{ top_rated_dino.slug }}">
            <figure>
                <img src="{{ top_rated_dino.avatar }}" alt="{{ top_rated_dino.slug }}" />
                <figcaption>Discover the {{ top_rated_dino.name }}</figcaption>
            </figure>
        </a>
        {% endfor %}
    </aside>
</div>
{% endblock %}